.unsplash5u28ojjgmsIcon {
  position: absolute;
  top: 0;
  left: 3px;
  /* width: 1437px; */
  width: 100%;
  height: 1022px;
  object-fit: cover;
}
.howDidYou {
  position: relative;
  line-height: 160%;
}
.howDidYouHearAboutAcqifyWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.component1focus8Child {
  position: relative;
  width: 30px;
  height: 31.36px;
  overflow: hidden;
  flex-shrink: 0;
}
.selectOneWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.component1Icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.component1focus8,
.frameParent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent1 {
  flex: 1;
  justify-content: space-between;
}
.component1focus8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--blacktxt);
  box-sizing: border-box;
  width: 424px;
  height: 59.18px;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
}
.component1focus8Wrapper {
  position: relative;
  width: 424px;
  height: 59.18px;
}
.frameDiv,
.frameGroup {
  align-self: stretch;
  display: flex;
}
.frameDiv {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.frameGroup {
  align-items: center;
  gap: 16px;
}
.continueWrapper,
.frameGroup,
.frameParent {
  flex-direction: column;
  justify-content: center;
}
.continueWrapper {
  border-radius: var(--br-base);
  background: linear-gradient(259.43deg, #3247ff, #5b5eeb);
  width: 423px;
  height: 69px;
  display: flex;
  align-items: center;
  padding: var(--padding-base) var(--padding-13xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
.frameParent {
  gap: 32px;
}
.frameContainer,
.frameParent,
.frameWrapper {
  display: flex;
  align-items: center;
}
.frameContainer {
  border-radius: var(--br-base);
  background-color: #18191a;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-13xl);
}
.frameWrapper {
  position: absolute;
  top: calc(50% - 183.68px);
  left: calc(50% - 548px);
  width: 1095px;
  flex-direction: row;
  justify-content: center;
}
.onboarding,
.unsplash5u28ojjgmsParent {
  background-color: var(--color-black);
  height: 1024px;
  overflow: hidden;
}
.unsplash5u28ojjgmsParent {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 1440px; */
  width: 100%;
}
.onboarding {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--p2-size);
  color: var(--gray-light);
  font-family: var(--p2);
}
