.unsplash5u28ojjgmsIcon {
  position: absolute;
  top: 0;
  left: 3px;
  /* width: 1437px; */
  width: 100%;
  height: 1022px;
  object-fit: cover;
}
.vectorIcon1 {
  width: 40.4px;
  height: 41.75px;
}
.acqify,
.vectorIcon1 {
  position: relative;
}
.frameDiv,
.frameWrapper1,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vectorParent {
  justify-content: center;
  gap: 5.92px;
}
.frameDiv,
.frameWrapper1 {
  justify-content: flex-start;
}
.frameDiv {
  width: 160px;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 33.35px;
  font-family: var(--font-brevenews-medium);
}
.welcomeBack {
  position: relative;
  line-height: 120%;
  display: inline-block;
  width: 248px;
}
.joinNow {
  text-decoration: underline;
  color: #6676ff;
}
.dontHaveAnyContainer {
  position: relative;
  font-size: 15px;
  line-height: 160%;
  text-align: left;
  cursor: pointer;
  color: var(--gray-light);
}
.welcomeBackParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.component1focus8Child {
  position: relative;
  width: 30px;
  height: 31.36px;
  overflow: hidden;
  flex-shrink: 0;
}
.labelName {
  position: relative;
  line-height: 160%;
}
.component1focus8,
.labelNameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.component1focus8 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--blacktxt);
  box-sizing: border-box;
  width: 426px;
  height: 70px;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
}
.forgotPassword {
  position: relative;
  font-size: var(--caption1-size);
  line-height: 120%;
  color: #6c7aff;
}
.component1focus8Group,
.component1focus8Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.component1focus8Parent {
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--p2-size);
  color: var(--gray-light);
}
.frameParent1 {
  gap: var(--gap-13xl);
}
.frameGroup,
.frameParent1,
.joinWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.joinWrapper {
  border-radius: var(--br-base);
  background: linear-gradient(259.43deg, #3247ff, #5b5eeb);
  width: 423px;
  height: 69px;
  padding: var(--padding-base) var(--padding-13xl);
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
}
.frameGroup {
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--h4-bold-size);
}
.frameChild,
.or {
  position: relative;
}
.frameChild {
  border-radius: var(--br-69xl);
  background-color: var(--color-dimgray-100);
  width: 81px;
  height: 3px;
}
.or {
  line-height: 160%;
  display: inline-block;
  width: 25px;
  flex-shrink: 0;
}
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.googleSvgIcon1 {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.googleSvgParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameWrapper2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 423px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--black);
}
.frameParent,
.frameWrapper,
.frameWrapper2 {
  display: flex;
  align-items: center;
}
.frameParent {
  border-radius: var(--br-base);
  background-color: #18191a;
  width: 523px;
  height: 672px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.frameWrapper {
  position: absolute;
  top: calc(50% - 335.62px);
  left: calc(50% - 246px);
  width: 492px;
  flex-direction: row;
  justify-content: space-between;
}
.signIn,
.unsplash5u28ojjgmsParent {
  background-color: var(--color-black);
  height: 1024px;
  overflow: hidden;
}
.unsplash5u28ojjgmsParent {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 1440px; */
  width: 100%;
}
.signIn {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--p2-size);
  color: var(--color-white);
  font-family: var(--caption1);
}
